{% load staticfiles %}


{% block content %}

 <section class="section-featured-projects py-5">
        <div class="container">
	        <h3 class="section-title font-weight-bold text-center mb-5">Featured Projects</h3>
        
	        <div class="project-cards row mb-5">
				
				{% for project in featured_projects  %}
				
		        <div class="col-12 col-lg-4">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							{% if project.image %}
							<img class="card-img-top rounded-0" src='{{ project.image.url }}' alt="">
							{% endif %}
							<div class="card-img-overlay overlay-logo text-center">
									{% if project.image_3 %}
								<div class="project-logo"><img class="img-fluid w-50" src={{project.image_3.url}}></div>
								{% endif %}
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ project.get_absolute_url }}">
								<h5 class="card-title font-weight-bold">{{ project.title }}</h5>
							    <p class="card-text">{{ project.description|truncatechars:100 }}</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="{{ project.get_absolute_url }}">{{  project.title}}</a></h4>
						</div>
						
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
								{% for tech in project.technologies_used.all %}
								
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">{{ tech.name}}</span></li>
							{% endfor %}
							</ul>
					    </div>
				    </div><!--//card-->
				</div>
				
				{% endfor %}
			    
	        </div><!--//row-->
	        <div class="text-center">
	            <a class="btn btn-primary" href="{% url 'main_app:all_projects' %}">View all projects</a>
	        </div>
        </div><!--///container-->
        
    </section>

{% endblock content %}
